@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    border: 0 solid #e5e7eb;
}

#menu {
    padding: 32px;
}

nav {
    display: flex;
}


body {
    max-width: 100vw;
    overflow-x: hidden;
}


.nav__container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.img__logo--wrapper {
    margin: 0px 12px 0px 0px;
}

.logo__wrapper{
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.025em;
}

.logo {
    display: flex;
    align-items: center;
}

img {
    width: 40px;
}

.menu__title {
    font-size: 24px;
    font-weight: 900;
    color: #243e63;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.nav__link {
    text-decoration: none;
    font-size: 14px;
    color: #243e63;
    font-weight: 600;
    margin: 0px 24px;
    padding: 0px 0px 4px;
}

.purple {
    color: #7342d6
}

h1 {
    font-size: 48px;
    line-height: 1.25;
}

p {
    font-size: 18px;
    line-height: 1.25;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* LANDING */

.landing, 
.quality {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 100px;
    max-width: 1280px;
}

.landing__container {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.landing__container--left {
    display: flex;
    width: 70%;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: #6415ff;
    color: #f7fafc;
    padding: 12px 32px;
    border-radius: 9999px;
    cursor: pointer;
}

.para__wrapper {
    font-size: 18px;
    line-height: 1.5em;
    color: #243e63;
    margin-top: 32px;
    margin-bottom: 32px;
}

.customer__wrapper {
    position: relative;
    max-width: 80%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input_wrapper {
    position: relative;
    font-size: 18px;
    border: 2px solid lightgray;
    padding: 22px 0;
    padding-left: 32px;
    border-radius: 40px;
    max-width: 600px;
    opacity: 0.5;
}

.btn__wrapper {
    font-size: 16px;
    position: absolute;
    height: 56px;
    right: 10px;
}

.img__word--wrapper {
    padding-top: 72px;
    font-size: 12px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(160,174,192,var(--tw-text-opacity));
}

.img__wrapper--strip {
    max-width: 32px;
    min-width: 80%;
    height: auto;
    opacity: 0.5;
}

.img__wrapper {
    max-width: 48rem;
    min-width: 52%;
    width: 100%;
    height: auto;
}

/*

Features

*/

#features {
    padding: 32px;
}

.row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.feature__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.feature__header {
    color: #6415ff;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 32px;
}

.feature__header--wrapper {
    color: #243e63;
}

.feature__para-wrapper {
    text-align: center;
    color: #7c8ba1;
    font-size: 18px;
    line-height: 1.5em;
    padding: 10px 0;
    max-width: 60%;
}

/*

SERVICES

*/

.services {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.service {
    padding: 32px 24px;
    display: flex;
    width: calc(100% / 3);
    align-items: flex-start;   
}

figure {
    display: flex;
    align-items: center;
}

.service__img--wrapper {
    padding: 20px;
    border: 1px solid rgba(205, 206, 209, 0.795);
    border-radius: 100%;
    display: flex;
}

.service__img {
    height: 24px;
    width: 24px;
}

.service__text--container {
    margin-left: 16px;
}

.service__text--title {
    color: rgb(6, 41, 14);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.025em;
    line-height: 1;
}

.service__text--description {
    font-size: 16px;
    line-height: 1.5em;
    max-width: 210px;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    line-height: 2;
}
/*

QUALITY

*/

#quality,
#steps {
    padding: 32px;
}

.quality__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.quality__container--left {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 64px;
}

.quality__wrapper,
.steps__wrapper {
    margin-bottom: 24px;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 16px;
}

.quailty__header--wrapper,
.steps__header--wrapper {
    margin-top: 1rem;
    font-weight: 900;
    line-height: 1.25;
}

.quality__para {
    margin-top: 1rem;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
}

.quality__img {
    max-width: 100%;
    min-width: 10%;
    width: 100%;
    border-radius: 0.25rem;
    border-width: 1px;
}

/*

STEPS

*/

.steps__container {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    align-items: center;
    justify-content: space-between;
}

.step__number--wrapper {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(203 213 224 / var(--tw-text-opacity));
}

.step__register--wrapper {
    display: flex;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    color: #243e63;
}

.steps_container--right {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.steps__list--wrapper {
    display: flex;
    flex-direction: row;
}

.step__para--wrapper {
    margin-top: 0.75rem;
    max-width: 20rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2;
    --tw-text-opacity: 1;
    color: rgb(113 128 150 / var(--tw-text-opacity));
}

.steps__number--container {
    margin: 0 0 0 24px;
}

.steps__img {
    width: 100%;
    min-width: 20%;
    padding-right: 64px;
}

